//
//  SecretsConfig.xcconfig
//  MovieList
//
//  Created by Rasim Burak Kaya on 29.07.2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
TMDB_JWT = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMzcyNWY1MTM2MWU4YTFiOTViMmQwYWE2OWQyNGYzNyIsIm5iZiI6MTc1MTYwNzU4My44NzYsInN1YiI6IjY4Njc2OTFmYzZkNDMyMmJkYjk5MWY3NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.m6Foqw3lsnQegRjCP62faLt1y22KWXj5OH9_JWhj8kU
