<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBin_nYOHZPQImNul41dmtGeg2pLQcZmy8</string>
	<key>GCM_SENDER_ID</key>
	<string>1015901013710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RasimBurakKaya.MovieList</string>
	<key>PROJECT_ID</key>
	<string>movielist-f5fc5</string>
	<key>STORAGE_BUCKET</key>
	<string>movielist-f5fc5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015901013710:ios:b3eee6fdbd3a29c52c329f</string>
</dict>
</plist>